body {
  color: rgb(52, 58, 64);
  font-size: 15px;
  font-family: sans-serif;
}

.header-profile {
  color: rgb(255, 255, 255);
  line-height: 1.4;
}

.header-profile h1 {
  letter-spacing: 1.5px;
}

.header-profile div {
  letter-spacing: 1px;
}

.info-headline span{
  color: rgb(0, 163, 225);
}

.info-contact-btn{
  color: white;
  font-weight: 700;
  text-decoration: none;
}